body {
  color: green;
  font-weight: normal;
  font-family: Verdana, Arial Geneva, Tahoma, sans-serif;
  background-color: rgb(214, 223, 223);
  line-height: 1.5em;
}
h1 {
  border-bottom: 1px solid black;
  background-color: rgb(161, 219, 161);
  font-size: 150%;
}
h2 {
  border-bottom: 1px solid black;
  background-color: rgb(161, 219, 161);
  font-size: 1.2em;
}
.black {
  color: black;
  font-size: 29px;
  font-family: verdana;
}
p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.black {
  text-decoration: underline;
}
.italic {
  color: black;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.para1 {
  color: blue;
  font-size: 15px;
  line-height: 2.5em;
  background-color: #89ccd8;
  padding: 20px;
  border-color: black;
  border-width: 2 px;
  border-style: solid;
}
.para2 {
  color: blue;
  font-size: 15px;
  line-height: 2.5em;
  background-color: #c0b4ec;
  padding: 20px;
  border-color: black;
  border-width: 2 px;
  border-style: solid;
  margin: 20px 40px 30px 60px;
  /* margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px; */
}
.forms {
  color: blue;
  font-size: 15px;
  line-height: 2.5em;
  background-color: #c3b4ec;
  padding: 20px;
  border-color: black blue pink yellow;
    border-width: 2px 10px 50px 70px;
  border-style: solid double dotted dashed;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 1000px;
}
.forms2 {
  color: blue;
  font-size: 15px;
  line-height: 2.5em;
  background-color: #ebe9f0;
  padding: 20px;
  border-color: black;
  border-width: 2 px;
  border-style: solid;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 1000px;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  background-color: silver;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
